@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(49, 115, 193);
    /* for friends mode */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#main-content {
  min-height: calc(100vh - 70px);
}

#header {
  display: flex; 
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

#logo {
  width: 250px;
  margin: -20px 0px 0px 20px;
}

#scores {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#highscore {
  margin: 0px 20px 60px auto;
  padding: 0px 20px 0px 20px;
  border: 1px solid black;
  border-radius: 25px;
}

#score {
  margin: 0px 20px 60px auto;
  padding: 0px 20px 0px 20px;
  border: 1px solid black;
  border-radius: 25px;
}

#directions {
  font-size: 35px;
  margin-top: 300px;
  text-align: center;
}

#start-button, #start-button2 {
  display: flex;
  justify-content: center;
}

#start, #start2 {
  padding: 20px;
  margin: 50px 15px 0px 15px;;
  justify-content: center;
}

#start2 {
  display: none;
}

p {
  font-size: 35px;
  margin-top: 250px; 
}

#quote-container {
  display: flex;
  justify-content: center;
  height: 175px;
}

#quote {
  text-align: justify;
  margin-top: 350 px;
  margin: 00px 100px 0px 100px;
}

.buttons, .buttons-friends {
  display: none;
  flex-direction: row;
  justify-content: center;
}

#jerry, #elaine, #george, #kramer {
  padding: 20px;
  margin: 50px 12px 0px 12px;;
  height: 150px;
  width: auto;
  border-radius: 50%;
}

#gif-container {
  display: flex;
  justify-content: center;
}

#phoebe, #chandler, #rachel, #ross, #monica, #joey {
  padding: 20px;
  margin: 50px 12px 0px 12px;;
  height: 125px;
  width: auto;
  border-radius: 50%;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align:right;
  margin: 0px 10px 15px 0px;
  border-top: 3px solid;
  border-color: black;
  font-size: 15px;
  color: black;
  height: 50px;
}

#toggle, #toggle2 {
  margin: 70px auto 60px 20px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #toggleswitch {
      box-shadow: 0 0 1px GREY;;
  }
